* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* a {
  color: inherit;
} */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #888888;
  /*   font-family: "Courier New", monospace; */
  /*   font-family: "Cutive Mono", monospace; */

  /*   background: #485563; 
  background: -webkit-linear-gradient(
    to top,
    #29323c,
    #485563
  ); 
  background: linear-gradient(
    to top,
    #29323c,
    #485563
  );  */

  font-family: "Special Elite", cursive;
}

.paper {
  width: 80%;
  max-width: 1200px;
  background-color: white;
  /* border: 1px solid black; */
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 20px;
}

/* .saved-entries {
  color: #f4f4f4;
} */

.placeholder {
  color: #585858;
}

.entry-title.empty::before {
  content: attr(data-placeholder);
}

.typed-text.empty::before {
  content: attr(data-placeholder);
}

.typed-text {
  font-size: 1.5rem;
  line-height: 1.6;
  /* white-space: pre-wrap; */
  overflow: auto;
  min-height: 300px;
  /* border: 1px solid black; */
  /*   padding: 10px; */
  outline: none;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /*  display: flex; */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  z-index: 1;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
  text-align: center; /* Centra el contenido horizontalmente */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-content {
  font-size: 16px;
  line-height: 1.6;
  max-width: 100%;
  padding: 20px;
  text-align: left; /* Asegúrate de que no esté centrado */
  white-space: pre-wrap; /* Esto preserva los saltos de línea */
}

.typewriter_img {
  width: 10rem;
  margin: 1rem 0;
}

/* Estilos para el contenido del modal en una lista */
.modal-content ul {
  list-style: disc;
  padding-left: 20px;

}

/* Estilos para el contenido del modal en un bloque de código */
.modal-content pre {
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
}

/* Estilos para el contenido del modal en un enlace */
.modal-content a,
li {
  margin-left: 1rem;
  margin-top: 1rem;
  color: #aaaaaa;
}

/* Estilos para títulos en el contenido del modal */
.modal-content h1,
.modal-content h2,
.modal-content h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
